@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.svg-container
{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.svg-logo
{
  margin: 0 auto;
  display: block;
}

.modal-header {
    border-bottom: 0px;
}

.modal-footer {
    border-top: 0px;
}

.modal-content {
    border-radius: 1.5rem;
    box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.22), 0px 19px 38px rgba(0, 0, 0, 0.3);
}

.modal-body-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.541327);
}

.modal-header-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.modal-accept-button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #009688;
    background-color: white;
    border: 0px;
}

/* body.modal-open .supreme-container{
    -webkit-filter: blur(20px) !important;
    -moz-filter: blur(20px) !important;
    -o-filter: blur(20px) !important;
    -ms-filter: blur(20px) !important;
    filter: blur(20px) !important;
} */

