@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


#top-cover-image {
  background: url('assets/background.png') no-repeat center;
  background-size: cover;
}

.textFieldInput{
  background-color: rgba(20, 15, 38, 0.648579) !important;
  backdrop-filter: blur(44.119px);
  border: 0px !important;
  height: 80px !important;
  width: 480px !important;
  border-radius: 1rem !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300 !important;
  font-size: 22px !important;
  line-height: 25px !important;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.7) !important;
  padding-left: 40px !important;
  margin-bottom: 30px;
}

.submitButton{
  background: linear-gradient(314.33deg, #645AFF -3.69%, #A573FF 109.82%) !important;
  height: 80px !important;
  width: 480px !important;
  border: 0px !important;
  border-radius: 5rem !important;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 20px !important;
  margin-top: 15px;
}
